$primary: #E7A42A;
$secondary: #339AF0;
$green: #51CF66;
$green-dark: #51CF66B3;
$red: #F03E3E;
$red-dark: #F03E3EB3;
$yellow: #FCC419;
$yellow-dark: #FCC419B3;
$purple: #793ECF;
$border-text-dark: #BCBCBC;
$input-background-light: #949494;
$input-background-dark: #1F1F1F;
$input-text-dark: #D6D6D6;

$bg-blue: #212529;
$bg-blue-light: #343A40;
$blue: #339AF0;
$light-blue: #CCE8FF;
$dark-blue: #2F729E;
