@use '/src/sass/abstracts/vars/colors' as colors;

.big-chart {
  height: 400px;
}

:host .total-kpi {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  mat-card {
    margin: 0;
    flex: 1 1 215px;
    max-width: 300px;
    display: flex;
    gap: 0.5rem;
    $index: 0;
    $colors: colors.$yellow, colors.$green, colors.$blue, colors.$purple, colors.$red;
    &.loading {
      justify-content: center;
    }
    @each $value in $colors {
      $index: $index + 1;
      &:nth-child(#{$index}) ::ng-deep {
        mat-progress-spinner circle {
          stroke: $value !important;
        }
        mat-spinner circle {
          stroke: $value !important;
        }
      }
    }

    ::ng-deep mat-progress-spinner.not-value circle {
      stroke: grey !important;
    }
  }

  &__info {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    div:nth-child(1) {
      font-size: 0.8rem;
    }
    div:nth-child(2) {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.detail-kpis {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;

  mat-card {
    width: 100%;
    grid-column: span 8;
    &.fixed-height {
      height: 470px;
    }
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
    }
  }

  &__revision__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    margin: 1rem;
    gap: 1rem;
  }

  &__revision {
    min-height: 100px;
    max-width: 250px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    &__chart {
      height: 100%;
      min-width: 120px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      color: white;
      gap: 0.3rem;
      span:nth-child(1) {
        font-size: 1rem;
        font-weight: 600;
      }
      span:nth-child(2) {
        font-size: 0.8rem;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    h2 {
      height: 1.3rem;
      line-height: 1.1;
      margin: 1rem 0 0 1rem;
      font-size: clamp(0.8rem, 2vw, 1.1rem);
      margin-bottom: 0;
    }
  }

  &__tyres > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    & > div {
      grid-column: span 1;
    }
  }

  &__aligment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    & > div:not(#{&}__separator) {
      flex: 1 1 0;
    }
    &__alert-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__separator {
      position: absolute;
      width: 1px;
      background-color: colors.$bg-blue-light;
      height: 50%;
      top: calc(25% + 1.85rem);
      left: 50%;
    }
  }

  &__aligment &__title, &__tyres &__title {
    margin-bottom: 1.5rem;
  }

  &__alert {
    position: relative;
    color: white;
    padding: 1rem;
    padding-bottom: clamp(1rem, calc(2rem - 1vw), 1.7rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 10px;
    background-color: colors.$bg-blue-light;
    &.accent {
      background-color: colors.$blue;
    }
    &__menu {
      position: absolute;
      right: 0rem;
      top: 0.5rem;
    }
    &__title {
      display: inline-block;
      height: 1rem;
      line-height: 1;
      font-size: 0.8rem;
    }
    &__value {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__contact {
    padding: 1rem 2rem;
    position: relative;
    color: white;
    min-height: 160px;
    &__help {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    h2 {
      margin-left: 0;
    }
    ul {
      padding: 0;
      margin: 0.5rem 0 0 0;
      list-style: none;
    }
  }
}

@media (min-width: 1200px) {
  .detail-kpis {
    mat-card {
      grid-column: span 4;
      &:nth-child(1) {
        grid-column: 1 / 4;
      }
      &:nth-child(2) {
        grid-column: 4 / 7;
      }
      &:nth-child(3) {
        grid-column: 7 / 9;
        height: 470px;
      }
      &:last-child {
        grid-column: span 8;
      }
    }
    &__revision__container {
      flex-direction: column;
      padding: 0;
    }
    &__revision {
      gap: 1rem;
    }
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .detail-kpis {
    mat-card {
      grid-column: span 4;
      &:nth-child(1) {
        grid-column: 1 / 5;
      }
      &:nth-child(2) {
        grid-column: 5 / 9;
      }
      &:nth-child(3) {
        height: 250px;
        grid-column: span 8;
        display: flex;
        flex-direction: column;
      }
      &:last-child {
        grid-column: span 8;
      }
    }

    &__revision__container {
      flex-direction: row;
      padding: 0;
      height: 200px;
    }
  }
}

:host mat-card div.loader  {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  ::ng-deep mat-spinner circle {
    stroke: white !important;
  }
}
