<div class="total-kpi">
  <mat-card *ngFor="let item of totalKpis" [ngClass]="{'loading': loadingTotals}">
    <ng-container *ngIf="loadingTotals || !item.name; else totalsData">
      <mat-spinner
        diameter="50"
        ></mat-spinner>
    </ng-container>
    <ng-template #totalsData>
      <mat-progress-spinner
        [ngClass]="{'not-value': item.value === 0}"
        color="primary"
        mode="determinate"
        [value]="item.percentage"
        diameter="50"
      ></mat-progress-spinner>
      <div class="total-kpi__info">
        <div><span>{{item.name}}</span></div>
        <div><span>{{item.value | number}}</span></div>
      </div>
    </ng-template>
  </mat-card>
</div>
<div class="detail-kpis">
  <mat-card>
    <div class="detail-kpis__title">
      <h2>PRESIÓN DE NEUMÁTICOS</h2>
      <button mat-button routerLink="/tyres/pressure-list">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
    <ng-container
      *ngTemplateOutlet="loader, context: {loading: loadingPressure, total: totalPressure}">
    </ng-container>
    <div
      echarts [options]="totalPressure" class="big-chart"
      *ngIf="!loadingPressure && totalPressure"
    >
    </div>
  </mat-card>
  <mat-card class="fixed-height">
    <div class="detail-kpis__title">
      <h2>TEMPERATURA</h2>
      <button mat-button routerLink="/tyres/temperature-list">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
    <ng-container
      *ngTemplateOutlet="loader, context: {loading: loadingTemperature, total: totalTemperature}">
    </ng-container>
    <div
      echarts [options]="totalTemperature" class="big-chart"
      *ngIf="!loadingTemperature && totalTemperature">
    </div>
  </mat-card>
  <mat-card class="fixed-height">
    <div class="detail-kpis__title">
      <h2>REVISIÓN NEUMÁTICOS</h2>
      <button mat-button routerLink="/tyres/expired-list/0">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
    <div class="detail-kpis__revision__container">
      <ng-container
        *ngTemplateOutlet="loader, context: {loading: loadingExpired, total: totalExpired}">
      </ng-container>
      <ng-container *ngIf="!loadingExpired && totalExpired">
        <div class="detail-kpis__revision" *ngFor="let expired of totalExpired">
          <div class="detail-kpis__revision__chart" echarts [options]="expired.chart"></div>
          <div class="detail-kpis__revision__info">
            <span>{{expired.value | number}}</span>
            <span>{{expired.name}}</span>
          </div>
        </div>
      </ng-container>
    </div>
    </mat-card>
  <mat-card class="fixed-height">
    <div class="detail-kpis__title">
      <h2>MARCAS MÁS UTILIZADOS</h2>
    </div>
    <ng-container
      *ngTemplateOutlet="loader, context: {loading: loadingBrand, total: totalBrand}">
    </ng-container>
    <div
      echarts [options]="totalBrand" class="big-chart"
      *ngIf="!loadingBrand && totalBrand"
    >
    </div>
  </mat-card>
  <mat-card class="fixed-height">
    <div class="detail-kpis__title">
      <h2>VIDA UTIL POR MARCA</h2>
    </div>
    <ng-container
      *ngTemplateOutlet="loader, context: {loading: loadingLifeByBranch, total: totalLifeByBrand}">
    </ng-container>
    <div
      echarts [options]="totalLifeByBrand" class="big-chart"
      *ngIf="!loadingLifeByBranch && totalLifeByBrand"
    >
    </div>
  </mat-card>
  <mat-card class="detail-kpis__tyres">
    <div class="detail-kpis__title">
      <h2>ALERTAS DE NEUMÁTICO</h2>
    </div>
    <ng-container
      *ngTemplateOutlet="loader, context: {loading: loadingTyreAlerts, total: 1}">
    </ng-container>
    <div *ngIf="!loadingTyreAlerts">
      <ng-container *ngFor="let item of tyreAlerts">
        <ng-container *ngTemplateOutlet="
          alert,
          context: {$implicit: item.accent, name: item.name, url: item.url, value: item.value}
        "></ng-container>
      </ng-container>
    </div>
  </mat-card>
  <mat-card class="detail-kpis__aligment">
    <div>
      <div class="detail-kpis__title">
        <h2>ALINEACIÓN Y BALANCEO</h2>
      </div>
      <div class="detail-kpis__aligment__alert-container">
        <ng-container *ngTemplateOutlet="alert, context: {name: 'Asimetría de Tº en el mismo Eje', url: '/tyres/asymmetry-list/0'}"></ng-container>
        <ng-container *ngTemplateOutlet="alert, context:{$implicit: true,name: 'Asimetría de presión en el Eje', url: '/tyres/asymmetry-list/1'}"></ng-container>
      </div>
    </div>
    <div class="detail-kpis__aligment__separator"></div>
    <div>
      <div class="detail-kpis__title">
        <h2>ALERTA DE VEHICULOS</h2>
      </div>
      <div class="detail-kpis__aligment__alert-container">
        <ng-container *ngTemplateOutlet="alert, context:{$implicit: true, name: 'TPMS sin señal', url: '/tyres/tpms-fuel-list/0'}"></ng-container>
        <ng-container *ngTemplateOutlet="alert, context: {name: 'Alto consumo de combustible', url: '/tyres/tpms-fuel-list/1'}"></ng-container>
      </div>
    </div>
  </mat-card>
  <mat-card class="detail-kpis__contact">
    <button mat-button class="detail-kpis__contact__help">
      <mat-icon>help_outline</mat-icon>
    </button>
    <div class="detail-kpis__title"><h2>CONTACTO</h2></div>
    <ul>
      <li>Correo: Tyrebotsemilla@Gmail.Com</li>
      <li>Numero: + 56 9 90 33 33 46</li>
    </ul>
  </mat-card>
</div>

<ng-template let-loading="loading" let-total="total" #loader>
  <div class="loader" *ngIf="loading">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
  <div class="loader" *ngIf="!loading && !total">
    <h3>Sin datos</h3>
  </div>
</ng-template>

<ng-template let-accent let-name="name" let-url="url" let-value="value" #alert>
  <div class="detail-kpis__alert" [ngClass]="{'accent': accent}">
    <button mat-button class="detail-kpis__alert__menu" [routerLink]="url">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="detail-kpis__alert__value"><span>{{value || 0}}</span></div>
    <div class="detail-kpis__alert__title"><span>{{name}}</span></div>
  </div>
</ng-template>
