<div class="main-container">
  <h1>Configuraciónes</h1>
  <div class="detail">
    <div class="detail__last-connection">
      <span>0:03 de 12 de Agosto, 2021</span>
    </div>
    <div class="detail__info">
      <h2 class="detail__info__name">Paloma Varas P.</h2>
      <p class="detail__info__address">Estación Central, modulo 1</p>
      <p class="detail__info__state access">Estado: <span>Accesible</span></p>
    </div>
    <div class="detail__actitons">
      <button class="form-btn danger">Denegar acceso</button>
      <button class="form-btn success">Dar acceso</button>
    </div>
  </div>
</div>
