@use '/src/sass/components/modal-form';

form {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: space-between;
  padding: 0 1rem;
  .actions-container {
    justify-content: flex-end;
    align-self: stretch;
    width: 100%;
    button:nth-child(1) {
      margin: 0;
    }
  }
  mat-form-field {
    width: auto;
  }
}
