<h1 mat-dialog-title>{{
  data.action === 2? 'Editar ':
  data.action === 3? 'Crear ': ''
}}Usuario</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="light rounded">
      <input matInput placeholder="Nombre" #input formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded">
      <input matInput placeholder="Correo" #input formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded">
      <input matInput placeholder="Nombre de Usuario" #input formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded" *ngIf="options.length">
      <mat-select disableOptionCentering placeholder="Compañía" formControlName="company_id">
        <mat-option *ngFor="let value of options" [value]="value.id">
          {{value.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded" *ngIf="form.get('role')">
      <mat-select disableOptionCentering placeholder="Tipo de rol" formControlName="role">
        <mat-option *ngFor="let value of roleOptions" [value]="value.id">
          {{value.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded" *ngIf="form.get('password')">
      <input matInput type="password" placeholder="Contraseña" #input formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded" *ngIf="form.get('password')">
      <input matInput type="password" placeholder="Repitir Contraseña" #input formControlName="repeat_password" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-checkbox formControlName="active">Activo</mat-checkbox>
    <div class="actions-container">
      <button class="form-btn form-btn--back-btn" (click)="close()">
        <span>
          Cancelar
        </span>
      </button>
      <button class="form-btn" (click)="submit()" [disabled]="form.invalid">
        <span>
          <ng-container *ngIf="!loading">
            Guardar
          </ng-container>
          <ng-container *ngIf="loading">
            <mat-spinner [diameter]="30" style="margin: auto"></mat-spinner>
          </ng-container>
        </span>
      </button>
    </div>
  </form>
</div>
