.ejes{
	width: 1000px;
	height: 810px;
	position: absolute; 
	top: 100px;
	left: 340px;
	align-content: center;
}


.title{
	text-align: center;
	color: white;
	font-size: 30px;
    margin-top: 20px;
	font-family: SF Pro Display;
	font-weight: bold;
}

.contenedor{
	width: 650px;
	height: auto;
	border: solid 1px;
	border: solid 2px #6a6969;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	
}

.contenedor > h3{
	text-align: center;
	color: white;
}

.contenedor > p{
	font-family: SF Pro Display;
	color: white;
	text-align: center;
}

.align-right{
	text-align: right;
	margin-bottom:20px;
	margin-left:-187px;
}


.volver{
	background-image: url('/assets/img/fondo.jpg');
	border: 0px;
    border-radius: 20px;
	width: 100px;
	height: 40px;
	color: white;
	background-size: contain;
}


#contenedor > h4{
	text-align: center;
	color: white;
}

#contenedor > input{
	width: 50px;
	border-radius: 10px;
}

#contenedor{
	margin-left: 50px
}

.row{
	 margin-left: 0% !important;
}

.align-right-buttom {
    text-align: right;
    margin-bottom: 41px;
    margin-left: 6px;
    margin-top: 70px;
}

.continuar{
	background-color: gray;
	border: 0px;
    border-radius: 20px;
	width: 200px;
	height: 40px;
}