@use '/src/sass/vars/colors' as colors;

.footer {
	width:100%;
	height: 40px;
	background-color: colors.$bg-blue;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:0;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
  text-transform: uppercase;
}
