@use '/src/sass/vars/colors' as colors;
@use '/src/sass/vars/sizes' as sizes;

.footer {
	width:100%;
	height: sizes.$footer;
	background-color: colors.$bg-blue;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:0;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 10px;
  text-transform: uppercase;
  * {
    vertical-align: middle;
  }
  .logo {
    height: 75%;
    margin-left: 0.3rem;
  }
}

