mat-form-field {
  width: 100%;
}

.actions-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.form-btn {
  &::before {
    z-index: 0;
  }
  * {
    position: relative;
    z-index: 1;
  }
}
