<h1 mat-dialog-title>Filtrar vehíclos</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="light rounded">
      <input matInput placeholder="Patente" #input formControlName="plate">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="light rounded">
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Desde" formControlName="from">
        <input matEndDate placeholder="Hasta" formControlName="to">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <div class="actions-container">
      <button class="form-btn back-btn" (click)="close()">
        <span>
          Cancelar
        </span>
      </button>
      <button class="form-btn" (click)="submit()">
        <span>
          Aceptar
        </span>
      </button>
    </div>
  </form>
</div>

