<header class="header">
  <div class="header__container">
    <img class="header__logo" (click)="toggleNav()" src="/assets/img/logo.svg" alt="tyrebot-logo" />
    <div class="header__title">SISTEMA DE GESTIÓN DE NEUMÁTICOS</div>
    <div class="header__user">
      <div class="header__date">{{jstoday}}</div>
      <button mat-button [matMenuTriggerFor]="menu" class="header__icon-user">
        <img src="/assets/img/icon-user.png" alt="user-menu">
      </button>
      <mat-menu #menu="matMenu" class="header__user-menu">
        <button mat-menu-item>Cambiar cuenta</button>
        <button mat-menu-item>Configuración</button>
        <button mat-menu-item>Soporte</button>
      </mat-menu>
    </div>
  </div>
</header>
