@use '/src/sass/abstracts/vars/sizes' as sizes;
@use '/src/sass/abstracts/vars/colors' as colors;

.header {
	width: 100%;
	height: sizes.$header;
	background-color: colors.$bg-blue;
  display: flex;
  align-items: center;
  &__container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__date {
    text-align: right;
    color: white;
  }

  &__icon-user {
    display: none;
    flex-shrink: 0;
    background-image: url('/assets/img/icon-user.png');
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  &__logo {
    width: clamp(150px, 25vw, 200px);
    cursor: pointer;
  }

  &__title {
    display: none;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: SF Pro Display;
    font-weight: bold;
  }
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 1.2rem;
  }
}

@media (min-width: 720px) {
  .header__title {
    display: block;
  }
}

@media (min-width: 575px) {
  .header {
    &__icon-user {
      display: block;
    }
    &__date {
      text-align: left;
      margin-right: clamp(1rem, 3vw, 50px);
    }
  }
}
