@use '/src/sass/vars/sizes' as sizes;

.search-form {
  display: none;
  &__form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    mat-form-field {
      width: 240px;
    }
  }
}

.search-button {
  position: sticky;
  bottom: 20px;
  left: calc(100% - 20px);
  background: linear-gradient(125deg, #339AF0 0%, #FFFFFFA8 100%);
  z-index: 999;
}

@media (min-width: 630px) {
  .search-button {
    display: none;
  }

  .search-form {
    display: block;
  }
}
