@use '/src/sass/abstracts/vars/sizes' as sizes;

.search-form {
  display: none;
  padding-top: 1rem;
  &__card {
    background: linear-gradient(180deg, #212529 0%, #{mix(#212529, white, 85%)} 100%) 0% 0% no-repeat padding-box;
  }
  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    mat-form-field {
      width: 240px;
    }
    &__exporter {
      border-radius: 28px;
      background-color: white;
      color: black;
      height: 35px;
    }
  }
}

.search-button {
  position: fixed;
  bottom: 50px;
  left: calc(100vw - 80px);
  background: linear-gradient(125deg, #339AF0 0%, #FFFFFFA8 100%);
  z-index: 999;
}

@media (min-width: 920px) {
  :host .search-form__form {
    justify-content: center;
    ::ng-deep .exporter {
      position: absolute;
      right: 0;
      top: calc(50% - 18px)
    }
  }
}

@media (min-width: 630px) {
  .search-button {
    display: none;
  }

  .search-form {
    display: block;
  }
}
