@use '/src/sass/abstracts/vars/sizes' as sizes;

.search-form {
  display: none;
  background: linear-gradient(180deg, #212529 0%, #{mix(#212529, white, 85%)} 100%) 0% 0% no-repeat padding-box;
  &__form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    mat-form-field {
      width: 240px;
    }
  }
}

.search-button {
  position: sticky;
  top: calc(100vh - 70px);
  left: calc(100% - 20px);
  background: linear-gradient(125deg, #339AF0 0%, #FFFFFFA8 100%);
  z-index: 999;
}

@media (min-width: 630px) {
  .search-button {
    display: none;
  }

  .search-form {
    display: block;
  }
}
