$primary: #E7A42A;
$green: #51CF66;
$green-dark: #51CF66B3;
$red: #F03E3E;
$red-dark: #F03E3EB3;
$yellow: #FCC419;
$yellow-dark: #FCC419B3;
$border-text-dark: #BCBCBC;
$input-background-light: #949494;
$input-background-dark: #1F1F1F;
$input-text-dark: #D6D6D6;

$bg-blue: #212529;
