@use '/src/sass/vars/colors' as colors;

%eje-img {
  position: absolute;
  z-index: 2;
  top: 10%;
  height: 80%;
  svg {
    height: 100%;
  }
}

%repuesto-img {
  position: absolute;
  z-index: 2;
  right: 5%;
  height: 33%;
  padding: 0.3rem;
  svg {
    height: 100%;
  }
}

.bus {
  position: relative;
  &__bus-container {
    height: fit-content;
  }
  &__eje1 {
    @extend %eje-img;
    left: 16%;
  }
  &__eje2 {
    @extend %eje-img;
    right: 28%;
  }
  &__eje3 {
    @extend %eje-img;
    right: 17%;
  }
  &__repuesto1 {
    @extend %repuesto-img;
    top: 15%;
  }
  &__repuesto2 {
    @extend %repuesto-img;
    top: 33%;
  }
  &__repuesto3 {
    @extend %repuesto-img;
    top: 51%;
  }
}
