<div class="bus">
  <img
    class="bus__bus-container"
    [src]="img"
    alt="bus-container"
  >
  <ng-container *ngFor="let axie of axies">
    <app-axie *ngIf="axie.type === 'main'"
      [axie]="axie.axie_number"
      [type]="axie.tyres_count"
      [tyres]="axie.tyres"
      [class]="'bus__eje' + axie.axie_number"
    ></app-axie>
    <ng-container *ngIf="axie.type === 'backup'">
      <app-replacement
        *ngFor="let tyre of axie.tyres"
        [type]="tyre.tyre_number"
        [state]="tyre.state"
        [class]="'bus__repuesto' + tyre.tyre_number"
      ></app-replacement>
    </ng-container>
  </ng-container>
</div>
