<div class="bus">
  <img
    class="bus__bus-container"
    src="/assets/img/bus/bus.svg"
    alt="bus-container"
    style="width: 100%;"
  >
  <ng-container *ngFor="let axie of axies; let i = index">
    <app-axie *ngIf="i !== axies.length - 1"
      [axie]="i + 1"
      [type]="axie.tyres_count"
      [tyres]="axie.tyres"
      [class]="'bus__eje' + (i + 1)"
    ></app-axie>
    <ng-container *ngIf="i === axies.length - 1">
      <svg-icon *ngFor="let tyre of axie.tyres; let i = index"
        [src]="'/assets/img/bus/repuesto' + (i + 1) + '.svg'"
        [class]="'bus__repuesto' + (i + 1)"></svg-icon>
    </ng-container>
  </ng-container>
</div>
