@use '/src/sass/abstracts/vars/colors' as colors;

.step-3 {
  margin-bottom: 4rem;
  &__title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 3rem 0 1rem 0;
    font-weight: bold;
  }

  p {
    color: colors.$border-text-dark;
    text-align: center;
    margin-bottom: 2rem;
  }
}
