<div class="step-3 main-container">
  <h1 class="step-3__title">Configuración</h1>
  <app-back-button path="/add-vehicle/step-2"></app-back-button>
  <p>INGRESA LOS DATOS CORRESPONDIENTES:</p>
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab [label]="i === ejes.length - 1 ? 'R' : 'EJE ' + (i + 1)" *ngFor="let eje of ejes; let i = index">
      <app-vehicle-configuration-form [eje]="eje"></app-vehicle-configuration-form>
    </mat-tab>
  </mat-tab-group>
  <div>
    <button matRipple style="display: block; margin-left: auto;" class="form-btn" [disabled]="!isFormValid" (click)="continue()">Continuar</button>
  </div>
</div>
