<div class="step-2">
  <h1 class="step-2__title">Configuración</h1>
  <div style="max-width: 1200px;">
    <button matRipple (click)="back();" style="margin-left:auto;" class="form-btn back-btn">Volver</button>
  </div>
  <p>INGRESA LOS DATOS CORRESPONDIENTES:</p>
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab [label]="i === ejes.length - 1 ? 'R' : 'EJE ' + (i + 1)" *ngFor="let eje of ejes; let i = index">
      <app-vehicle-configuration-form [tires]="eje"></app-vehicle-configuration-form>
    </mat-tab>
  </mat-tab-group>
</div>
