<mat-card class="bus-data" *ngIf="busData">
  <h2 class="bus-data__plate"> Patente: <span>{{busData.plate}}</span></h2>
  <div class="bus-data__indicators">
    <span class="bus-data__indicators__title">Presión</span>
    <ol>
      <li>
        <span></span>
        <span>Alta</span>
      </li>
      <li>
        <span></span>
        <span>Ok</span>
      </li>
      <li>
        <span></span>
        <span>Baja</span>
      </li>
    </ol>
  </div>
  <app-bus *ngIf="busData?.format" [axies]="busData.format.axies"></app-bus>
  <div class="bus-data__footer"><span> INDICE DE CONSUMO DE COMBUSTIBLE </span></div>
</mat-card>
<mat-card *ngIf="busData?.format">
  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab [label]="axie.type === 'backup' ? 'R' : 'EJE ' + axie.axie_number"
      *ngFor="let axie of busData.format.axies; let i = index">
      <div class="row-container" style="margin-top: 1.5rem;">
        <div class="row-container__col field-name"></div>
        <div class="row-container__col field-header" *ngFor="let col of axie.tyres; let i = index">
          <span>{{'Tire ' + col.tyre_number}}</span>
        </div>
      </div>
      <div class="field-container" *ngFor="let keyName of tpmsKeysNames">
        <div class="row-container">
          <ng-container
            *ngTemplateOutlet="rowTemplate, context: { $implicit: axie.tyres, key: keyName.key, name: keyName.name, isDate: true }">
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<ng-template #rowTemplate let-tyres let-key="key" let-name="name">
  <div class="row-container__col field-name">
    <div>
      <span>{{name}}</span>
    </div>
  </div>
  <div class="row-container__col" *ngFor="let tyre of tyres; let i=index">
    <div>{{tyre[key] || 'N/A' }}</div>
  </div>
</ng-template>
