@use '/src/sass/vars/colors' as colors;
@use '/src/sass/vars/sizes' as sizes;

:host ::ng-deep .mat-tab-group-dynamic-height .mat-tab-body-content {
  overflow: auto !important;
}

.bus-data {
  position: relative;
  &__plate {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: sizes.$table-font-size;
    color: colors.$input-background-light;
    span {
      padding: 0.3rem;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__indicators {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid #{colors.$input-background-light};
    font-size: sizes.$table-font-size;
    color: colors.$input-background-light;
    gap: 0.5rem;
    &__title {
      font-size: 0.9rem;
      color: white;
    }
    ol {
      display: flex;
      padding: 0.3rem 1rem;
      gap: 1rem;
      font-size: 0.8rem;
      margin: 0;
    }
    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
    }
    li span:first-child {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: colors.$green;
    }
    li:first-child {
      color: colors.$yellow;
      span:first-child {
        background-color: colors.$yellow;
      }
    }
    li:nth-child(2) {
      color: colors.$green;
      span:first-child {
        background-color: colors.$green;
      }
    }
    li:nth-child(3) {
      color: colors.$red;
      span:first-child {
        background-color: colors.$red;
      }
    }
  }
  &__footer {
    margin: auto;
    max-width: 250px;
    border: 1px solid #{colors.$input-background-light};
    border-radius: 20px;
    color: #{colors.$input-background-light};
    background-color: #2C2C2C;
    text-align: center;
  }
}

.row-container {
  display: flex;
  flex-wrap: wrap;
  &__values {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    &__item {
      flex: 1 1;
    }
    &__item  > div {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      font-size: clamp(0.8rem, 2vw, 1rem)
    }
  }
  &__field-name {
    padding: 0 1rem;
    width: 100%;
    line-height: 1.1;
    min-width: 100px;
    margin-bottom: 0.5rem;
  }
  &__field-name > div {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    font-size: clamp(0.95rem, 2vw, 1.2rem);
    span {
      display: block;
      text-align: left;
    }
  }
}


.mat-tab-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: auto;
}

.field-header {
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: colors.$input-background-light;
  text-align: center;
  margin-top: 1.5rem;
}

.field-container {
  width: 100%;
  border-radius: 5px;
  padding: 0 0.7rem;
  margin: 0.5rem 0;
  .row-container {
    &__values {
      background-color: colors.$bg-blue-light;
    }
    &__values:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &__values:nth-child(2) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}

@media (min-width: 700px) {
  .bus-data {
    &__plate {
      position: absolute;
      left: 0;
      padding-left: 2rem;
    }
  }

  .row-container {
    &__field-name {
      flex: 0 1 25%;
      width: auto;
      margin-bottom: 0;
      & > div {
        padding: 0 0 0 2rem;
      }
    }

    &__values {
      width: auto;
      flex: 4 1;
      margin-bottom: 0;
    }
  }
}
