<app-header></app-header>
<app-menu></app-menu>
<div class="addVehicle">
	<div class="title">Agregar Vehiculo</div>
	<div class="formulario">
		<p>Ingrese los datos del nuevo vehiculo</p>
		<form id="frmAddVehicle">
		  <div class="row">
				<div class="col-3 col-md-3">
				 <label>PATENTE:</label>
				</div>
				<div class="col-3 col-md-4">
				  <input type="text" class="form-control" placeholder="Last name" required placeholder="Ejemplo: WI TT 21">
				</div>
				<div class="col-3 col-md-3">
				 <label>CANTIDAD DE EJES:</label>
				</div>
				<div class="col-3 col-md-2">
				 <select id="inputState"  class="cantEjes" required>
					<option></option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				  </select>
				</div>
				<div class="col-3 col-md-3">
				 <label>MODELO DE CHASIS:</label>
				</div>
				<div class="col-3 col-md-4">
				  <input type="text" class="form-control" placeholder="Last name" required placeholder="Ejemplo: 0 500 R">
				</div>
				<div class="col-5 col-md-5">
				</div>
				<div class="col-3 col-md-3">
				 <label>ID DE TPMS:</label>
				</div>
				<div class="col-3 col-md-4">
				  <input type="text" class="form-control" placeholder="Last name" required placeholder="Ejemplo: 8ab67d">
				</div>
				<div class="col-5 col-md-5">
				</div>
				<div class="col-3 col-md-3">
				 <label>NÚMERO INTERNO:</label>
				</div>
				<div class="col-3 col-md-4">
				  <input type="text" class="form-control" placeholder="Last name" required placeholder="Ejemplo: G07">
				</div>
				<div class="col-5 col-md-5">
				</div>
				<div class="col-3 col-md-3">
				 <label>DISPOSITIVO GPS:</label>
				</div>
				<div class="col-3 col-md-4">
				   <select id="inputState" class="gps" required>
					<option></option>
					<option>GPS</option>
				  </select>
				</div>
				<div class="align-right col-12 col-md-12">
				<button type="submit" class="btn btn-primary">Continuar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<app-footer></app-footer>
