@use '/src/sass/vars/sizes' as sizes;

.main-page {
  width: calc(100% - #{sizes.$side-nav})
}

app-menu {
  position: sticky;
  top: 0;
	width: sizes.$side-nav;
  height: 100vh; //Restar tamaño del header mientras no se mueva el scroll
}
