<div class="main-container">
  <mat-card class="search-form">
    <form [formGroup]="form" class="search-form__form">
      <mat-form-field appearance="outline" class="light rounded">
        <input matInput placeholder="Patente" #input formControlName="plate">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="light rounded">
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Desde" formControlName="from">
          <input matEndDate placeholder="Hasta" formControlName="to" (dateChange)="dateChange()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </form>
  </mat-card>
  <div class="active-vehicles__header">
    <h1>Vehículos y Activos</h1>
    <span [ngClass]="{'detail': showBackBtn}">VEHÍCULOS: {{(vehicles$ | async)?.length}}</span>
    <app-back-button *ngIf="showBackBtn" :path="./list"></app-back-button>
  </div>
  <router-outlet></router-outlet>
  <button (click)="openSearchDialog()" class="search-button" mat-fab aria-label="Buscar">
    <mat-icon>search</mat-icon>
  </button>
</div>
