<mat-card *ngIf="form">
  <div class="row-container">
    <div class="row-container__col field-name field-header">
      <div></div>
    </div>
    <div class="row-container__col field-header">
      <div *ngFor="let col of headersLength; let i = index">
        <span>
          <!-- *ngIf="i !== 0" -->
          {{'Tire ' + (i + 1)}}
        </span>
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <fieldset class="field-container" formGroupName="tpms_name">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpms_name.controls, name: 'TPMS id' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpms_type">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpms_type.controls, name: 'TPMS tipo' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpms_manufacturer">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpms_manufacturer.controls, name: 'Fabricante TPMS' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpms_manufacture_date">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpms_manufacture_date.controls, name: 'Fecha Vencimiento TPMS', isDate: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpms_installation_date">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpms_installation_date.controls, name: 'Fecha Instalación TPMS', isDate: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_installation_date">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_installation_date.controls, name: 'Fecha Fabricación Neumático', isDate: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_temperature">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_temperature.controls, name: 'Temperatura normal', isNumber: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_pressure">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_pressure.controls, name: 'Presión normal', isNumber: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_brand">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_brand.controls, name: 'Marca de Neumático', isSelect: true, options: tyreBrands$ | async }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_provider">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_provider.controls, name: 'Provedor de Neumático' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="dot">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: dot.controls, name: 'DOT' }">
      </ng-container>
    </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_index">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_index.controls, name: 'Indice carga/vel' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_measurements">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_measurements.controls, name: 'Medidas' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="recauchado">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: recauchado.controls, name: 'Estatus', isSelect: true, options: tyreStatusList$ | async }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tyre_wear">
      <div class="row-container" formArrayName="tires">
        <ng-container
        *ngTemplateOutlet="controlTemplate, context: { $implicit: tyre_wear.controls, name: 'Tipo de desgaste' }">
        </ng-container>
      </div>
    </fieldset>
  </form>
</mat-card>

<ng-template
  #controlTemplate
  let-controls
  let-name="name"
  let-isNumber="isNumber"
  let-isDate="isDate"
  let-isSelect="isSelect"
  let-options="options">
  <div class="row-container__col field-name">
    <div>
      <span>{{name}}</span>
      <mat-icon
        class="expantion-btn"
        (click)="togglePanel($event, panel)"
        [ngClass]="{'expantion-btn--open': name === 'TPMS id' }">
        expand_more
      </mat-icon>
    </div>
  </div>
  <div #panel class="row-container__col" [ngClass]="{'open': name === 'TPMS id' }">
    <div *ngFor="let control of controls; let i=index">
      <ng-container *ngIf="!isDate && !isSelect">
        <mat-form-field appearance="outline" [ngClass]="{'grey-background': !control.value}">
          <input matInput [placeholder]="'Tire '+ (i + 1)" [formControl]="controls[i]" [type]="isNumber? 'number': 'text'">
          <mat-error *ngIf="control.errors">{{
            control.errors.required ? name + ' es requerido': control.errors.notUnique
          }}</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="isSelect">
        <mat-form-field appearance="outline" style="width: 100%;" [ngClass]="{'grey-background': !control.value}">
          <mat-select [compareWith]="compareOptions" disableOptionCentering [placeholder]="'Tire '+ (i + 1)" [formControl]="controls[i]">
            <mat-option *ngFor="let value of options" [value]="value.id">
              {{value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="isDate">
        <mat-form-field appearance="outline" [ngClass]="{'grey-background': !control.value}">
          <input matInput [matDatepicker]="picker" [placeholder]="'Tire '+ (i + 1)" [formControl]="controls[i]">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>
  </div>
</ng-template>
