@use '../abstracts/vars/_colors' as colors;
@use '../abstracts/_mixins' as mixins;

.mat-datepicker-content {
  @include mixins.transparentPanel();
  .mat-datepicker-actions {
    height: 50px;
    & > .form-btn {
      height: 35px;
      width: 100px;
    }
  }
  mat-calendar {
    color: white;
    background-color: transparent !important;
    box-shadow: none;
    overflow: hidden;
    * {
      color: white;
    }
    .mat-calendar-next-button, &  .mat-calendar-previous-button {
      color: white;
    }
    button .mat-calendar-arrow {
      border-top-color: white;
    }

    .mat-calendar-body-selected {
      background-color: colors.$blue;
    }
  }
}
