@use '../vars/_colors' as colors;

.custom-dialog .mat-dialog-container {
  background-color: colors.$bg-blue;
  color: white;
}

.cdk-global-scrollblock {
  top: 0 !important;
	position: initial !important;
	width: initial !important;
	overflow: hidden;
}
