@use '../vars/_colors' as colors;

$field-border-radius: 5px;

mat-error {
  font-size: 0.9rem;
}

.mat-form-field-infix {
  padding: 11px 0 !important;
  border: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-outline {
  & input, & span {
    color: colors.$input-text-dark;
    caret-color: colors.$primary
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
}
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}


.mat-form-field-appearance-outline {
  &:not(.grey-background) {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: colors.$input-background-dark;
    }
    &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
      color: colors.$input-text-dark !important;
    }
  }
  &.grey-background {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: colors.$input-background-light;
    }
    &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
      color: black !important;
    }
  }
}

.mat-form-field-outline-start {
  border-radius: #{$field-border-radius}  0 0 #{$field-border-radius} !important;
  width: 15px;
}
.mat-form-field-outline-end {
  border-radius: 0 #{$field-border-radius} #{$field-border-radius} 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-radius: #{$field-border-radius} !important;
}
.mat-form-field-appearance-outline:not(.mat-form-field-invalid) {
  .mat-form-field-outline-thick {
    color: colors.$primary !important;
  }
  &.mat-focused .mat-form-field-outline-thick {
    color: colors.$primary !important;
  }
}

.mat-form-field-flex:hover .mat-form-field-outline {
  opacity: 0;
  transition: none !important;
}
