@use '../abstracts/vars/_colors' as colors;

$field-border-radius: 5px;

mat-error {
  font-size: 0.9rem;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 11px 0 !important;
  border: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}


.mat-form-field-appearance-outline {
  & input, & span {
    color: colors.$input-text-dark;
    caret-color: colors.$primary
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  // Estilos para controles en flujo de insercion de vehículos
  .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
    background-color: colors.$input-background-dark;
  }
  &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
    color: colors.$input-text-dark !important;
  }

  &.grey-background {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: colors.$input-background-light;
    }
    &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
      color: black !important;
    }
  }

  // Estilos para controles de busqueda
  &.light {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: white;
    }

    // &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
    //   color: colors.$primary;
    // }

    & input, & span:not(.mat-select-placeholder) {
      color: black;
    }
  }

  button.mat-focus-indicator.mat-icon-button.mat-button-base {
    height: 28px;
    width: 28px;
  }

  .mat-form-field-outline-start {
    border-radius: #{$field-border-radius}  0 0 #{$field-border-radius} !important;
    width: 15px;
  }
  .mat-form-field-outline-end {
    border-radius: 0 #{$field-border-radius} #{$field-border-radius} 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-radius: #{$field-border-radius} !important;
  }

  &.rounded .mat-form-field-outline-start {
    border-radius: 28px  0 0 28px !important;
    width: 25px;
  }
  &.rounded .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }

  &.rounded .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-radius: 28px !important;
  }
  &.rounded .mat-form-field-suffix {
    top: 0.4em !important;
  }
}

.mat-form-field-appearance-outline:not(.mat-form-field-invalid) {
  .mat-form-field-outline-thick {
    color: colors.$primary !important;
  }
  &.mat-focused .mat-form-field-outline-thick {
    color: colors.$primary !important;
  }
}

.mat-form-field-flex:hover .mat-form-field-outline {
  opacity: 0;
  transition: none !important;
}
