@use '../_colors' as colors;

mat-error {
  font-size: 0.9rem;
}

.mat-form-field-infix {
  padding: 11px 0 !important;
  border: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-outline {
  & input, & span {
    color: colors.$input-text-dark
  }
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}


.mat-form-field-appearance-outline {
  &:not(.grey-background) {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: colors.$input-background-dark;
    }
    &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
      color: colors.$input-text-dark !important;
    }
  }
  &.grey-background {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background-color: colors.$input-background-light;
    }
    &:not(.mat-form-field-invalid) .mat-select-arrow-wrapper .mat-select-arrow {
      color: black !important;
    }
  }
}

.mat-form-field-outline-start {
  border-radius: 10px  0 0 10px !important;
  width: 15px;
}
.mat-form-field-outline-end {
  border-radius: 0 10px 10px 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-radius: 10px !important;
}
.mat-form-field-appearance-outline:not(.mat-form-field-invalid) {
  .mat-form-field-outline-thick {
    color: #E7A42A !important;
  }
  &.mat-focused .mat-form-field-outline-thick {
    color: #E7A42A !important;
  }
}

.mat-form-field-flex:hover .mat-form-field-outline {
  opacity: 0;
  transition: none !important;
}
