<div class="step-1 main-container">
	<h1 class="title" [style]="{marginBottom: hasId? '1rem': ''}">Agregar Vehiculo</h1>
  <app-back-button *ngIf="hasId" path="../../../"></app-back-button>
	<div class="form-container">
		<h2 class="text-light">Ingrese los datos del nuevo vehiculo</h2>
		<form [formGroup]="form" (ngSubmit)="continue()">
		  <div class="grid">
        <div class="grid__column">
          <label>PATENTE:</label>
          <div class="grid__column__field">
            <mat-form-field appearance="outline" [ngClass]="{'grey-background': !f.patente.value}">
              <input matInput formControlName="patente" placeholder="Ejemplo: WI TT 21">
            </mat-form-field>
            <mat-error *ngIf="f.patente.errors && f.patente.touched">{{f.patente.errors?.required? 'Por favor, indique la patente': ''}}</mat-error>
          </div>
        </div>
				<div class="grid__column">
				  <label>MODELO DE CHASIS:</label>
          <div class="grid__column__field">
            <mat-form-field appearance="outline" [ngClass]="{'grey-background': !f.chassis.value}">
              <input matInput formControlName="chassis" placeholder="Ejemplo: 0 500 R">
            </mat-form-field>
            <mat-error *ngIf="f.chassis.errors && f.chassis.touched">{{f.chassis.errors?.required? 'Por favor, ingrese el modelo de chasis': ''}}</mat-error>
          </div>
				</div>
				<div class="grid__column">
				  <label>ID DE HUB:</label>
          <div class="grid__column__field">
            <mat-form-field appearance="outline" [ngClass]="{'grey-background': !f.hubName.value}">
              <input matInput formControlName="hubName" placeholder="Ejemplo: 0 500 R">
            </mat-form-field>
            <mat-error *ngIf="f.hubName.errors && f.hubName.touched">{{f.hubName.errors?.required? 'Por favor, indique el ID de HUB': ''}}</mat-error>
          </div>
				</div>
				<div class="grid__column">
				  <label>NÚMERO INTERNO:</label>
          <div class="grid__column__field">
            <mat-form-field appearance="outline" [ngClass]="{'grey-background': !f.nrointerno.value}">
              <input matInput formControlName="nrointerno" placeholder="Ejemplo: 0 500 R">
            </mat-form-field>
            <mat-error *ngIf="f.nrointerno.errors && f.nrointerno.touched">{{f.nrointerno.errors?.required? 'Por favor, indique el Número Interno': ''}}</mat-error>
          </div>
				</div>
				<div class="grid__column">
				  <label>DISPOSITIVO GPS:</label>
          <div class="grid__column__field">
            <mat-form-field appearance="outline" [ngClass]="{'grey-background': !f.gps.value}">
              <mat-select disableOptionCentering formControlName="gps">
                <mat-option *ngFor="let value of ['GPS']" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="f.gps.errors && f.gps.touched">{{f.gps.errors?.required? 'Por favor, indique el Dispositivo GPS': ''}}</mat-error>
          </div>
				</div>
        <div class="grid__column">
          <label>CANTIDAD DE NEUMÁTICOS:</label>
          <div class="grid__column__field">
            <button matRipple class="add-btn" (click)="addAxie()" [disabled]="axies.length === 3" type="button">
              Agregar eje +
            </button>
            <div formArrayName="axies">
              <ng-container *ngFor="let control of axies.controls; let i = index">
                <div class="grid__column__input-container">
                  <label>EJE {{i + 1}}</label>
                  <div class="axie">
                    <mat-form-field
                      appearance="outline"
                      [ngClass]="{'grey-background': !control.value}">
                      <input matInput [formControlName]="i" type="number">
                    </mat-form-field>
                    <mat-icon (click)="removeAxie(i)">clear</mat-icon>
                  </div>
                </div>
                <!-- <mat-error style="text-align: right;" *ngIf="f.ejes.touched && f.ejes.errors">{{f.ejes.errors?.required? 'Por favor, ingrese la cantidad de ejes': ''}}</mat-error> -->
              </ng-container>
            </div>
            <div class="grid__column__input-container">
              <label>R</label>
              <div class="axie">
                <mat-form-field
                  appearance="outline"
                  [ngClass]="{'grey-background': !f.backup.value}">
                  <input matInput formControlName="backup" type="number">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
			<button matRipple type="submit" class="form-btn" [disabled]="form.invalid" >Continuar</button>
		</form>
	</div>
</div>
