@use 'sass:list';
@use '/src/sass/vars/colors' as colors;

.step-1 {
  max-width: 1000px;
}

.title {
	text-align: center;
	color: white;
	font-size: 30px;
  margin: 3rem 0;
	font-weight: bold;
}

.form-container {
	border: solid 1px;
	border: solid 2px colors.$border-text-dark;
	margin: auto;
	margin-top: 20px;
	border-radius: 20px;
	padding-left: 60px;
	padding-right: 60px;
  & > h2 {
    color: white;
    font-size: 1rem;
    margin: 1rem 0;
    margin-top: 2rem;
  }
}

label {
	color: colors.$border-text-dark;
	font-weight: bold;
	font-size: 1rem;
}

.form-btn {
  display: block;
	margin-left: auto;
  margin-bottom: 20px;
}

input::placeholder{
	color: colors.$input-text-dark;
}

.grid {
  display: grid;
  width: 100%;
  padding: 0.6rem 0;
  grid-template-columns: 1fr 0.8fr;
  column-gap: 3rem;
  row-gap: 0.3rem;
  &__column {
    $self: &;
    display: flex;
    justify-content: space-between;

    &__field {
      max-width: 204px;
    }

    @each $value in 1 2 3 4 5 6 {
      &:nth-child(#{$value}) {
        @if ($value == 6) {
          grid-column: 2;
          grid-row: 1;
          max-height: 40px;
          #{$self}__field {
            max-width: 160px;
          }
        } @else {
          grid-column: 1;
          grid-row: $value;
        }
      }
    }
  }
  .cantEjes {
    display: block;
    margin-left: auto;
    width: 80px;
  }
}
