<mat-card *ngIf="form">
  <div class="row-container">
    <div class="row-container__col field-header" *ngFor="let col of headersLength; let i = index">
      <span *ngIf="i !== 0">{{'Tire ' + i}}</span>
    </div>
  </div>
  <form [formGroup]="form">
    <fieldset class="field-container" formGroupName="tpmsId">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpmsId.controls, name: 'TPMS id' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpmsType">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpmsType.controls, name: 'TPMS tipo' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpmsManufacturer">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpmsManufacturer.controls, name: 'Fabricante TPMS' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tpmsDate">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tpmsDate.controls, name: 'Fecha Instalación TPMS', isDate: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tireDate">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tireDate.controls, name: 'Fecha Fabricación Neumático', isDate: true }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tireBrand">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tireBrand.controls, name: 'Marca de Neumático' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="tireProvider">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: tireProvider.controls, name: 'Provedor de Neumático' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="dot">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: dot.controls, name: 'DOT' }">
      </ng-container>
    </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="loadIndex">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: loadIndex.controls, name: 'Indice carga/vel' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="measurement">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: measurement.controls, name: 'Medidas' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="reTire">
      <div class="row-container" formArrayName="tires">
        <ng-container
          *ngTemplateOutlet="controlTemplate, context: { $implicit: reTire.controls, name: 'Recauchado' }">
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="wear">
      <div class="row-container" formArrayName="tires">
        <ng-container
        *ngTemplateOutlet="controlTemplate, context: { $implicit: wear.controls, name: 'Tipo de desgaste' }">
        </ng-container>
      </div>
    </fieldset>
  </form>
</mat-card>

<ng-template #controlTemplate let-controls let-name="name" let-isDate="isDate">
  <div class="row-container__col field-name">
    <div>
      <span>{{name}}</span>
    </div>
  </div>
  <div class="row-container__col"
  *ngFor="let control of controls; let i=index"
  >
    <div *ngIf="!isDate">
      <mat-form-field appearance="outline" [ngClass]="{'grey-background': !control.dirty}">
        <input matInput [formControl]="controls[i]">
      </mat-form-field>
    </div>
    <div *ngIf="isDate">
      <mat-form-field appearance="outline" [ngClass]="{'grey-background': !control.dirty}">
        <input matInput [matDatepicker]="picker" [formControl]="controls[i]">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</ng-template>
