<div class="main-container">
  <h1>Configuraciónes</h1>
  <div class="list-container">
    <h2>Accesibilidad</h2>
    <div class="list-container__table">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> nombre de usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="last_connection">
          <th mat-header-cell *matHeaderCellDef> ÚLTIMO MOVIMIENTO </th>
          <td mat-cell *matCellDef="let element"> {{element.last_connection}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> estado de accesibilidad </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{'access':element.state === states.access, 'denied':element.state === states.denied}"
            class="list-container__table__state"
          >
          <button mat-button (click)="toDetail()">
            {{element.state}}
          </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
