@use '/src/sass/abstracts/vars/colors' as colors;
@use '/src/sass/layouts/data-manage';

:host .list-container .list-container__table table td {
  &.list-container__table-state {
    padding-left: clamp(0.5rem, 5vw, 4rem);
    &.access {
      color: colors.$blue
    }
    &.denied {
      color: colors.$red
    }
  }
  &:not(.list-container__table-state) {
    padding-left: clamp(0.5rem, 2vw, 1rem);
  }
}
