<div class="main-container">
  <h1>Configuraciónes</h1>
  <div class="list-container">
    <div class="list-container_header">
      <h2>Usuarios</h2>
      <button mat-stroked-button (click)="create()">
        Agregar
      </button>
    </div>
    <div class="list-container__table">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> email de usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> acciones </th>
          <td mat-cell
            *matCellDef="let element"
            class="actions-container"
          >
            <button mat-button (click)="edit(element)" *ngIf="actualUser && (actualUser.role < element.role || actualUser.id === element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(element)" mat-icon-button
              *ngIf="actualUser && actualUser.role < element.role">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="company_name">
          <th mat-header-cell *matHeaderCellDef> compañía </th>
          <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="last_connection">
          <th mat-header-cell *matHeaderCellDef> ÚLTIMO MOVIMIENTO </th>
          <td mat-cell *matCellDef="let element"> {{element.last_login}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> estado de accesibilidad </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="{'access':element.active, 'denied':!element.active}"
            class="list-container__table-state"
          >
            {{element.active? states.access : states.denied}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
