@use '/src/sass/abstracts/vars/sizes' as sizes;
@use '/src/sass/abstracts/vars/colors' as colors;

%item-active {
  background-color: colors.$bg-blue-light;
  color: white;
  font-weight: 600;
}

%list-content {
  display: block;
  width: 100%;
  padding: 0.65rem;
  text-decoration: none;
  color: #ababab;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  &:hover {
    @extend %item-active;
  }
  &.item-active {
    @extend %item-active;
  }
}

.menu {
  width: 100%;
	background-color: colors.$bg-blue;
	bottom: 0;
  height: 100%;
  z-index: 9999;
  li:not(&__logout) {
    list-style: none;
    width: 100%;
    transition: all 0.2s ease-in;
  }
  a {
    @extend %list-content;
  }
	// min-height: 115vh;
  &__lvl1 {
    position: relative;
    height: 100%;
    padding: 40px 30px 40px 40px;
    margin-bottom: 0;
    overflow: auto;
    & > li {
      margin: 1rem 0 0 0;
    }
    .mobile {
      display: block;
    }
  }
  &__lvl2 {
    padding-left: 1.5rem;
    height: auto;
    max-height: 0px;
    transition: max-height 0.2s ease-in;
    overflow: hidden;
    &.open {
      max-height: 200px
    }
    a {
      margin-top: 0.3rem;
    }
    &__container {
      margin-top: 1rem;
      padding: 5px;
      border-left: solid 2px colors.$bg-blue-light;
    }
  }
  &__logout {
    position: sticky;
    width: calc(100% - 70px);
    top: calc(100vh - #{sizes.$header} - 120px);
    & > span {
      @extend %list-content;
      ion-icon, & span {
        vertical-align: middle;
        margin-inline-start: 0.5rem;
      }
    }
    ion-icon {
      font-size: 1.5rem;
    }
  }
  &__close {
    display: none;
    outline: none;
    background-color: transparent;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 1rem 0 auto;
  }
}

@media (max-width: 1200px) {
  .menu {
    padding-top: 2rem;
  }
  .menu__close {
    display: flex;
  }
}

@media (min-width: 575px) {
  .menu__lvl1 .mobile {
    display: none;
  }
}
