<nav class="menu">
  <button matRipple class="menu__close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
	<ul class="menu__lvl1">
	  <li *ngFor="let lvl1 of menu; let i = index;">
      <ng-container *ngTemplateOutlet="menuItem, context: { $implicit: lvl1 }"></ng-container>
      <div *ngIf="lvl1.list" class="menu__lvl2" [ngClass]="{'open': lvl1.open}">
        <ul class="menu__lvl2__container">
          <li *ngFor="let lvl2 of lvl1.list">
            <ng-container *ngTemplateOutlet="menuItem, context: { $implicit: lvl2 }"></ng-container>
          </li>
        </ul>
      </div>
    </li>
    <li class="menu__logout"><a href="">
      <ion-icon name="log-in"></ion-icon>
      <span>Salir</span>
    </a></li>
	</ul>
</nav>

<ng-template #menuItem let-item>
  <a [routerLink]="item.route" [ngClass]="{'item-active': item.active}" (click)="openLevel(item)">
    {{item.name}}
  </a>
</ng-template>
