@use 'sass:list';
@use '/src/sass/abstracts/vars/colors' as colors;
@use '/src/sass/abstracts/vars/tyre_states' as states;

@mixin getColor() {
  @each $state, $values in states.$states {
    .#{$state} {
      .cls-1 {
        fill: list.nth($values, 1);
      }
      .cls-2 {
        fill: list.nth($values, 2);
      }
    }
    .#{$state} text {
      fill: white !important;
    }
  }
}

@include getColor();

svg-icon {
  height: 100%;
  svg {
    height: 100%;
  }
}
